.formbox {
	backface-visibility: hidden;
	outline: 1px solid transparent;

	position: fixed;

	transform: translate(-50.1%, -50.1%);

	top: -100%;
	left: 49.9%;

	width: 30%;
  max-height: 80%;
  max-width: 450px;

	padding: 20px;
  margin: 0 auto;
	z-index: 99;

	border-radius: 3px;
	border: 2px solid $white;
	background-color: rgba($dark-blue, 0.8);
  color: $white;
	text-align: left;

	transition: top 0.6s;

  p {
    line-height: 20px;
    width: 100%;
  }

	&__title {
		text-align: left;
		font-size: 22px;
    margin: 0 0 15px 0;
	}

	&__close {
		position: absolute;
		right: 10px;
		top: 15px;
		width: 27px;
		height: 26px;
		border-radius: 100px;
		font-size: 15px;

		i {
			position: relative;
			top: -1px;
			left: 5px;
		}
	}

	.btn {
		margin-top: 15px;
    border: 2px solid $white;
	}

	.formbox__group {
		width: 100%;
		display: flex;

    &--one-third {
      width: 30%;
    }

    &__character {
      cursor: pointer;
      // transition: 500ms background, 500ms opacity;
      text-align: center;
      padding: 20px 0;
      margin-top: 5px;
      border-radius: 3px;
      min-height: 120px;
      background-repeat: no-repeat;
      background-position: center;
      flex-grow: 1;
      opacity: 0.3;

      &.active {
        opacity: 1;
      }

      &:hover {
        background-color: $dark-blue;
        background-repeat: no-repeat;
      }

      &--swordsman {
        background-image: url(../img/classes/1.png);

        &.active:hover {
          background-size: 60%;
          background-image: url(../img/gifs/swordsman_attack.gif) !important;
        }
      }

      &--mage {
        background-image: url(../img/classes/2.png);

        &.active:hover {
          background-image: url(../img/gifs/mage_attack.gif) !important;
          background-size: 60%;
        }
      }

      &--archer {
        background-image: url(../img/classes/3.png);

        &.active:hover {
          background-image: url(../img/gifs/archer_attack.gif) !important;
          background-size: 60%;
        }
      }
    }
	}

	&__input {
		width: 100%;
		height: 50px;
		margin-bottom: 5px;
		padding: 10px;
		font-size: 18px;
		border: 2px solid $white;
		border-radius: 2px;
		transition: background-color 0.5s;

		&[type=radio] {
			width: auto;
			height: auto;
			margin-top: 3px;
			vertical-align: middle;
		}

		&::-webkit-input-placeholder,
		&:-moz-placeholder, /* Firefox 18- */
		&::-moz-placeholder,  /* Firefox 19+ */
		&:-ms-input-placeholder {
		   color: $white;
			 opacity: 1;
		}

		&:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px white inset;
		}
	}

	&__label {
		margin-top: 5px;
		width: 100%;
		display: inline-block;
		font-weight: bold;
	}

	&.active {
		top: 49.9%;
	}

	&__character {
		padding-bottom: 70px;

		.character {
			transition: background-color 0.5s;
			width: 25%;
			padding: 20px;
			cursor: pointer;
			border-radius: 2px;
      min-height: 160px;

			&__wrapper {
        display: flex;
        flex-wrap: wrap;
        max-height: 360px;
        overflow: auto;
			}

      &__date {
        font-size: 14px;
      }

			&__nickname {
				font-size: 16px;
        line-height: 10px;
			}

			&__info {
				width: 100%;

				.character__stats {
					font-size: 14px;
					line-height: 17px;
					margin: 10px 0;
					display: inline-block;

					b {
						display: inline-block;
						width: 100px;
					}
				}

				.character__img {
					display: inline-block;
					margin-left: 20px;
					position: relative;
					top: 10px;
				}
			}

			&:hover {
				background-color: rgba($blue, 0.4);
			}

			@include largeViewport {
				width: 50%;
			}
		}

		.btn {
			bottom: 20px;
		}
	}

	&__create {
    .create__disclaimer {
      font-size: 15px;
    }

		.create__info {
			width: 100%;

			.create__stats {
				font-size: 14px;
				display: inline-block;

				.stats__title {
					margin-top: 4px;
					font-size: 16px;
				}

				.stats__label {
					width: 140px;
					display: inline-block;
				}

				.stats__input {
					width: 25px;
					text-align: center;
					border: none;
					height: 20px;
					font-weight: bold;
					font-size: 14px;
					border-radius: 2px;
				}

				.stats__counter {
					margin-top: 8px;
				}

				.stats__btn {
					position: relative;
					border: none;
					height: 12px;
					width: 12px;
					color: $white;
					background: none;
					font-size: 11px;
					outline: none;
					cursor: pointer;

					&:before {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						top: 1px;
						border: 7px solid transparent;
					}

					&--plus:before {
						left: 0;
						border-left-color: $white;
					}

					&--minus:before {
						right: 0;
						border-right-color: $white;
					}
				}
			}

			.create__img {
				text-align: center;
				width: 47%;
				display: inline-block;

				img {
					position: relative;
					top: -20px;
				}
			}
		}

	}

	&__info {
    .itens {
      &__wrapper {
        width: 70%;
        float: left;
      }
    }

    .stats {
      &__wrapper {
        width: 30%;
        float: left;
      }

      &__list {
      	li {
      		line-height: 20px;
      	}
      }
    }
  }

	&__result {
		margin-top: 5px;
		font-size: 18px;
		font-weight: bold;
		text-align: center;

    &--red {
      color: $darker-red;
    }
	}

  .character-status {
    &__date {
      font-size: 14px;
    }

    &__nickname {
      font-size: 16px;
      line-height: 10px;
      margin-top: 10px;
    }

    &__stats {
      font-size: 14px;
      line-height: 17px;
      margin: 10px 0;
      display: inline-block;

      b {
        display: inline-block;
        width: 100px;
      }
    }

    &__img {
      display: inline-block;
      margin-left: 20px;
      position: absolute;
      top: 40%;
      right: 20%;
    }

    &__info {
      width: 70%;
    }
  }

	&--big {
		width: 80%;
		max-height: 80%;
    max-width: 1200px;
	}

	&--game {
		width: 50%;
	}

	@include smallViewport {
		width: 100%;
	}

	@include largeViewport {
		width: 50%;

    &--big {
      width: 70%;
    }
	}
}
