.formbox {
	position: fixed;
	transform: translate(-50%, -50%);
	top: -400px;
	left: 50%;

	width: 30%;
  max-height: 80%;
	padding: 20px;
  margin: 0 auto;
	z-index: 99;	

  overflow: auto;
	border-radius: 3px;
	background-color: rgba($blue, 0.8);
  color: $white;
	text-align: left;

	transition: top 0.6s;

	&__title {
		text-align: left;
		font-size: 22px;
    margin: 0 0 15px 0;
	}

	.btn {
		margin-top: 15px;
	}

	.formbox__group {
		width: 100%;
		display: inline-block;

		&--half {
			width: 48%;
			display: inline-block;
		}
	}

	&__input {
		width: 100%;		
		height: 50px;
		margin-bottom: 5px;
		padding: 10px;
		font-size: 18px;
		border: none;
		border-radius: 2px;
		transition: background-color 0.5s;

		&[type=radio] {
			width: auto;
			height: auto;
			margin-top: 3px;
			vertical-align: middle;			
		}

		&:hover,
		&:focus {
			background-color: rgba($white, 0.8);
		}
	}

	&__label {
		margin-top: 5px;
		width: 100%;
		display: inline-block;
		font-weight: bold;		
	}

	&.active {
		top: 50%;				
	}

	&__character {
		.character {
			transition: background-color 0.5s;
			width: 25%;			
			padding: 20px;
			cursor: pointer;
			display: inline-block;

			&__template {
				display: none;
			}

			&__wrapper {
				width: 100%;
			}

			&__nickname {
				font-size: 16px;
			}

			&__class {
				font-size: 14px;
			}

			&__info {
				width: 100%;

				.character__stats {
					font-size: 12px;
					line-height: 17px;
					margin: 10px 0;			
					display: inline-block;

					b {
						display: inline-block;
						width: 85px;
					}
				}

				.character__img {
					display: inline-block;
					margin-left: 50px;
					position: relative;
					top: -20px;
				}
			}

			&:hover {
				background-color: rgba($blue, 0.8);
			}

			@include largeViewport {
				width: 50%;
			}
		}
	}

	&__create {		
		.create__info {
			width: 100%;

			.create__stats {							
				font-size: 14px;
				width: 50%;
				display: inline-block;
				
				.stats__title {
					margin-top: 4px;
					font-size: 16px;					
				}

				.stats__label {
					width: 48%;
					display: inline-block;					
				}

				.stats__input {
					width: 25px;					
					text-align: center;
					border: none;
					height: 20px;
					font-weight: bold;
					font-size: 14px;
					border-radius: 2px;
				}

				.stats__counter {
					margin: 5px 0;
				}

				.stats__btn {
					position: relative;
					border: none;
					height: 12px;
					width: 12px;
					color: $white;
					background: none;
					font-size: 11px;				
					outline: none;
					cursor: pointer;

					&:before {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						top: 1px;					
						border: 7px solid transparent;
					}

					&--plus:before {
						left: 0;
						border-left-color: $white;
					}

					&--minus:before {
						right: 0;
						border-right-color: $white;	
					}
				}
			}

			.create__img {															
				text-align: center;						
				width: 47%;
				display: inline-block;

				img {
					position: relative;
					top: -20px;
				}
			}			
		}

	}

	&__result {
		margin-top: 5px;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	&--big {
		width: 80%;
		max-height: 80%;
	}

	@include smallViewport {		
		width: 100%;
	}

	@include largeViewport {
		width: 80%;
	}
}