.formbox {
	backface-visibility: hidden;
	outline: 1px solid transparent;
	position: fixed;
	opacity: 0;
	transform: translate(-50.1%, -50.1%);

	top: 49.9%;
	left: 49.9%;

	width: 30%;
  max-height: 80%;
	padding: 20px;
  margin: 0 auto;
	z-index: 99;

	border-radius: 3px;
	border: 2px solid $white;
	background-color: rgba($black, 0.9);
  color: $white;
	text-align: left;

	transition: opacity 0.6s;

	&.active {
		opacity: 1;
	}

	&__title {
		text-align: left;
		font-size: 22px;
    margin: 0 0 15px 0;
	}

	&__close {
		position: absolute;
		right: 10px;
		top: 15px;
		width: 27px;
		height: 26px;
		border-radius: 100px;
		font-size: 15px;

		i {
			position: relative;
			top: -1px;
			left: 5px;
		}
	}

	.btn {
		margin-top: 15px;
	}

	.formbox__group {
		width: 100%;
		display: inline-block;

		&--half {
			width: 48%;
			display: inline-block;
		}
	}

	&__input {
		width: 100%;
		height: 50px;
		margin-bottom: 5px;
		padding: 10px;
		font-size: 18px;
		border: 2px solid $white;
		border-radius: 2px;
		color: $white;
		background-color: rgba($black, 1);
		transition: background-color 0.5s;

		&[type=radio] {
			width: auto;
			height: auto;
			margin-top: 3px;
			vertical-align: middle;
		}

		&:hover,
		&:focus {
			background-color: rgba($black, 0.8);
		}

		&::-webkit-input-placeholder,
		&:-moz-placeholder, /* Firefox 18- */
		&::-moz-placeholder,  /* Firefox 19+ */
		&:-ms-input-placeholder {
		   color: $white;
			 opacity: 1;
		}

		&:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px white inset;
		}
	}

	&__label {
		margin-top: 5px;
		width: 100%;
		display: inline-block;
		font-weight: bold;
	}

	&__character {
		padding-bottom: 70px;

		.character {
			transition: background-color 0.5s;
			width: 25%;
			padding: 20px;
			cursor: pointer;
			display: inline-block;
			border-radius: 2px;

			&__wrapper {
				width: 100%;
			}

			&__nickname {
				font-size: 16px;
			}

			&__class {
				font-size: 14px;
			}

			&__info {
				width: 100%;

				.character__stats {
					font-size: 12px;
					line-height: 17px;
					margin: 10px 0;
					display: inline-block;

					b {
						display: inline-block;
						width: 85px;
					}
				}

				.character__img {
					display: inline-block;
					margin-left: 50px;
					position: relative;
					top: -20px;
				}
			}

			&:hover {
				background-color: rgba($grey, 0.4);
			}

			@include largeViewport {
				width: 50%;
			}
		}

		.btn {
			bottom: 20px;
		}
	}

	&__create {
		.create__info {
			width: 100%;

			.create__stats {
				font-size: 14px;
				width: 50%;
				display: inline-block;

				.stats__title {
					margin-top: 4px;
					font-size: 16px;
				}

				.stats__label {
					width: 48%;
					display: inline-block;
				}

				.stats__input {
					width: 25px;
					text-align: center;
					border: none;
					height: 20px;
					font-weight: bold;
					font-size: 14px;
					border-radius: 2px;
				}

				.stats__counter {
					margin: 5px 0;
				}

				.stats__btn {
					position: relative;
					border: none;
					height: 12px;
					width: 12px;
					color: $white;
					background: none;
					font-size: 11px;
					outline: none;
					cursor: pointer;

					&:before {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						top: 1px;
						border: 7px solid transparent;
					}

					&--plus:before {
						left: 0;
						border-left-color: $white;
					}

					&--minus:before {
						right: 0;
						border-right-color: $white;
					}
				}
			}

			.create__img {
				text-align: center;
				width: 47%;
				display: inline-block;

				img {
					position: relative;
					top: -20px;
				}
			}
		}

	}

	&__info {
    .itens {
      &__wrapper {
        width: 70%;
        float: left;
      }
    }

    .stats {
      &__wrapper {
        width: 30%;
        float: left;
      }

      &__list {
      	li {
      		line-height: 20px;
      	}
      }
    }
  }

	&__result {
		margin-top: 5px;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	&--big {
		width: 80%;
		max-height: 80%;
	}

	&--game {
		width: 50%;
	}

	@include smallViewport {
		width: 100%;
	}

	@include largeViewport {
		width: 70%;
	}
}
