.game__wrapper {
  padding: 0;
  margin: 0 auto;
	width: 980px;
	height: 502px;
	position: relative;  
  top: 49.9%;
  transform: translate(0, -50.1%);
  border-radius: 4px;
  
  .bar {    
    width: 90px;
    height: 6px;
    border-radius: 2px;
    background: #333;        
    position: relative;
    display: inline-block;

    &__title {
      text-align: left;
      font-size: 20px;
      margin-right: 20px;
      width: auto;
    }

    &__wrapper {
      position: absolute;
      top: 0px;
      left: 0px;                     
      width: 100%;
      padding: 3px 60px;
      background-color: $black;
      text-align: left;
 		}
    
    &__text {
      position: absolute;
      top: -10px;
      left: 5px;
      z-index: 1;      
      font-size: 16px;
      font-weight: bold;
    }
    
    &__value {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: $red;
      transition: all .6s;            
    }
    
    &--mana .bar__value {
      background: $dark-blue !important;
    }
  }

  .dialog {
    &__wrapper {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 50%;
      height: 100px;
      background-color: rgba($cocoa-brown, 1);      
    }

    &__arrow {
      background: url(../img/ui/arrow.png) no-repeat;
      width: 12px;
      height: 9px;

      position: absolute;
      bottom: 5px;
      right: 10px;

      animation: arrow_anim 1s steps(6) infinite;

      @keyframes arrow_anim {
        from { bottom: 10px; }
          to { bottom: 15px; }
      }
    }
  }

  .ui-style {
    &__bottom-border {
      width: 100%;
      height: 8px;
      position: absolute;        
      bottom: -8px;
      left: 0;
      background: url(../img/ui/barra_c2.png);         
    } 

    &__top-border {
      width: 100%;
      height: 8px;
      position: absolute;        
      top: -8px;
      left: 0;
      background: url(../img/ui/barra_a2.png);         
    }  

    &__left-border {
      width: 8px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -8px;        
      background: url(../img/ui/barra_b1.png);
    }

    &__right-border {
      width: 8px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -8px;        
      background: url(../img/ui/barra_b1.png);
    }

    &__top-left-corner {
      width: 8px;
      height: 8px;
      position: absolute;
      z-index: 2;
      left: -8px;
      top: -8px;
      background: url(../img/ui/barra_a1.png);
    }

    &__top-right-corner {
      width: 8px;
      height: 8px;
      position: absolute;
      z-index: 2;
      right: -8px;
      top: -8px;
      background: url(../img/ui/barra_a3.png); 
    }

    &__bottom-left-corner {
      width: 8px;
      height: 8px;
      position: absolute;
      z-index: 2;
      left: -8px;
      bottom: -8px;
      background: url(../img/ui/barra_c1.png);  
    }

    &__bottom-right-corner {
      width: 8px;
      height: 8px;
      position: absolute;
      z-index: 2;
      right: -8px;
      bottom: -8px;
      background: url(../img/ui/barra_c3.png);   
    }
  }
}