@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
	font-family: "FreePixel";
	src: url(fonts/FreePixel.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "FreePixel", Open Sans;
	-webkit-font-smoothing: subpixel-antialiased;
}

html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;

	background-color: $black;
	color: $white;
}

ul {
	list-style: none;

	li {
		margin: 0;
	}
}

h1 {

}

h2 {

}

h3 {
	
}