@mixin smallViewport {
	@media (max-width: $small-viewport) {
 		@content;
 	}
}

@mixin mediumViewport {
	@media (max-width: $medium-viewport) {
 		@content;
 	}
}

@mixin largeViewport {
	@media (max-width: $large-viewport) {
 		@content;
 	}
}

@mixin AbsoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
