@mixin smallViewport {
	@media (max-width: $medium-viewport - 1px) {
 		@content;
 	}
}

@mixin mediumViewport {
	@media (min-width: $medium-viewport) and (max-width: $large-viewport - 1px) {
 		@content;
 	}
}

@mixin largeViewport {
	@media (max-width: $large-viewport) {
 		@content;
 	}
}

@mixin absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}