/* COLORS */
$white: #fff;
$black: #000;

$blue: #5368EE;
$light-blue: lighten($blue, 10%);

$green: #00CC66;
$light-green: lighten($green, 10%);

$red: #940000;
$light-red: lighten($red, 10%);

$grey: #c9c9c9;
$dark-grey: #333;

/* VIEWPORTS */
$small-viewport: 460px;
$medium-viewport: 768px;
$large-viewport: 1024px;