/* COLORS */
$white: #fff;
$black: #000;

$cocoa-brown: #2a2220;

$blue: #5589c6;
$light-blue: lighten($blue, 10%);
$dark-blue: darken($blue, 20%);

$green: #00CC66;
$light-green: lighten($green, 10%);

$red: #d45455;
$dark-red: darken($red, 20%);
$darker-red: darken($red, 30%);
$light-red: lighten($red, 10%);

$grey: #c9c9c9;
$dark-grey: #333;

/* VIEWPORTS */
$small-viewport: 460px;
$medium-viewport: 768px;
$medium-large-viewport: 1024px;
$large-viewport: 1300px;
