@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "RPGSystem";
  src: "../fonts/rpgsystem-webfont.ttf";
}
body {
  font-family: "Open Sans";
}
body.rpg-background {
  background: url("../img/valley_ruins.jpg");
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

ul.inline li {
  display: table;
  float: left;
}
ul.inline li a {
  display: table-cell;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

header {
  span: 12 of 12;
  width: 100%;
  height: 60px;
  background-color: rgba(51, 51, 51, 0.9);
  position: fixed;
  z-index: 99;
  top: 0;
  color: #fff;
}
header .logo {
  float: left;
  width: 50%;
  display: table;
  height: 100%;
  padding-left: 20px;
}
header .logo h1 {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
header .logo img {
  width: 100%;
}
header .menu {
  float: right;
  height: 100%;
}
header .menu li {
  height: 100%;
}
header .menu li a {
  vertical-align: middle;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
header .menu li a:hover {
  background-color: #5368EE;
}
header .menu li a.login {
  background-color: #7ABE42;
}
header .menu li a.signup {
  background-color: #e80510;
}

section {
  font-family: "Open Sans";
  color: #000;
  line-height: 25px;
  text-align: center;
  color: #333;
  padding: 0 15px;
}
section h1 {
  text-align: left;
  margin: 15px 0;
  color: #000;
}
section #phaser canvas {
  margin: 40px auto;
}
section.content {
  width: 83.05085%;
  float: left;
  float: none;
  margin: 0 auto;
  padding: 20px;
}
section.content .content-box {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  background-color: white;
  margin: 10px 0;
  position: relative;
  display: none;
  z-index: 1;
}
section.content .content-box .arrow {
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}
section.content .content-box.active {
  display: block;
  min-height: 400px;
}
section.content .content-box.active .arrow {
  content: "";
}
section.intro {
  color: #fff;
  padding: 60px 0;
}
section.intro .logo-img {
  width: 90%;
}
section.intro .content-menu {
  vertical-align: middle;
  margin: 0 auto;
  display: table;
  height: 100%;
}
section.intro .content-menu__wrapper {
  margin: 0 auto;
  height: 60px;
  background-color: #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
section.intro .content-menu li {
  height: 100%;
  padding: 0 5px;
  display: table;
}
section.intro .content-menu li a {
  height: 100%;
  vertical-align: middle;
}
section.intro .content-menu li a img {
  width: 32px;
  margin: 0 0 -10px;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
section.intro .content-menu li:hover img {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.btn {
  height: 40px;
  width: 100px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.btn.green {
  background-color: #7ABE42;
}
.btn.green:hover {
  background-color: #95cb68;
}

.formbox {
  position: fixed;
  z-index: 9;
  width: 400px;
  background-color: rgba(83, 104, 238, 0.9);
  top: -400px;
  right: 0;
  padding: 20px;
  text-align: left;
  -moz-transition-property: top;
  -o-transition-property: top;
  -webkit-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.formbox_title {
  text-align: left;
  font-size: 20px;
  color: #fff;
}
.formbox input {
  width: 100%;
  height: 50px;
  margin: 5px 0;
}
.formbox.active {
  top: 60px;
}
