@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "RPGSystem";
  src: url('../../fonts/rpgsystem-webfont.woff') format('woff');
}
main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
main:after {
  content: " ";
  display: block;
  clear: both;
}

body {
  background-color: #000;
}
body.grey-bg {
  background-color: #333;
}

header {
  span: 12 of 12;
}
header .logo {
  text-align: center;
  margin: 0.42373%;
}
header .logo img {
  width: 50%;
}
header nav {
  font-family: "RPGSystem";
  color: #c9c9c9;
  font-size: 22px;
  margin: 0.42373% 0 1.69492%;
  text-align: center;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline;
  cursor: pointer;
  margin: 0.42373%;
  -moz-transition-property: text-decoration;
  -o-transition-property: text-decoration;
  -webkit-transition-property: text-decoration;
  transition-property: text-decoration;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
header nav ul li:hover {
  text-decoration: underline;
}
header nav ul li a {
  text-decoration: none;
  color: #c9c9c9;
}

section {
  font-family: "Open Sans";
  color: #c9c9c9;
  line-height: 25px;
  width: 100%;
  margin-top: 1.69492%;
}
section p {
  font-size: 20px;
}
section #phaser canvas {
  margin: 0 auto;
}

button {
  border: none;
  padding: 6px;
  margin: 0.42373%;
  color: #fff;
  background-color: #5368EE;
  cursor: pointer;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
button:hover {
  background-color: #8191f3;
}
