@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "RPGSystem";
  src: "../fonts/rpgsystem-webfont.ttf";
}
html {
  height: 100%;
}

body {
  font-family: "Open Sans";
  min-height: 100%;
}
body.rpg-background {
  background: url("../img/valley_ruins.jpg");
  background-size: auto 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #000;
}

.overlay {
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 9;
  display: none;
}
.overlay.active {
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

.btn {
  height: 40px;
  width: 100px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  font-size: 15px;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.btn.green {
  background-color: #7ABE42;
}
.btn.green:hover {
  background-color: #95cb68;
}

section {
  font-family: "Open Sans";
  color: #000;
  line-height: 25px;
  text-align: center;
  color: #333;
  padding: 0 15px;
}
section h1 {
  text-align: left;
  margin: 15px 0;
  color: #000;
}
section #phaser canvas {
  margin: 40px auto;
}
section.content {
  width: 91.52542%;
  float: left;
  float: none;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.intro {
  color: #fff;
  padding: 60px 0;
}
section.intro .logo-img {
  width: 90%;
}

.menu {
  height: 60px;
  margin: 0 auto;
  list-style: none;
}
.menu li {
  height: 100%;
  margin: 0 5px;
  display: inline-block;
}
.menu li a {
  vertical-align: middle;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.menu li a.login {
  background-color: #7ABE42;
}
.menu li a.signup {
  background-color: #940000;
}

.formbox {
  position: fixed;
  margin: 0 auto;
  z-index: 99;
  width: 40%;
  background-color: rgba(83, 104, 238, 0.9);
  top: -400px;
  left: 50%;
  margin-left: -20%;
  padding: 20px;
  text-align: left;
  -moz-transition-property: top;
  -o-transition-property: top;
  -webkit-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.formbox_title {
  text-align: left;
  font-size: 20px;
  color: #fff;
}
.formbox input {
  width: 100%;
  height: 50px;
  margin: 5px 0;
}
.formbox.active {
  top: 60px;
}
