section {		
	font-family: $content-font;
	color: $black;
	line-height: 25px;	
	text-align: center;
	color: $dark-grey;
	padding: 0 15px;	
	
	h1 {
		text-align: left;
		margin: 15px 0;
		color: $black;
	}

	#phaser {
		canvas {
			margin: 40px auto;
		}
	}

	&.content {
		@include span(11 of 12 no-gutters);
		float: none;		
		margin: 0 auto;			
		padding: 20px;	

		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
	
	//Site intro content
	&.intro {		
		color: $white;
		padding: 60px 0;

		.logo-img {
			width: 90%;
			max-width: 90%;
		}						
	}
}

.menu {	
	height: 60px;
	margin: 0 auto;
	list-style: none;

	li {
		height: 100%;	
		display: inline-block;		

		a {
			vertical-align: middle;
			padding: 10px 20px;
			height: 100%;
			width: 100%;			

			@include transition-property(background-color);
			@include transition-duration(1s);

			&.login {
				background-color: $blue;
			}

			&.signup {
				background-color: $red;					
			}
		}
	}
}

