.popbox {
	position: fixed;
	z-index: 999;
	@include span(4 of 12 no-gutters);
	background-color: rgba($white, 0.9);
	top: -400px;
	right: 0;
	padding: 20px;
	text-align: left;

	@include transition-property(top);
	@include transition-duration(1s);

	&_title {
		text-align: left;
		font-size: 20px;
	}

	input {
		width: 100%;		
		height: 50px;
		margin: 5px 0;
	}

	&.active {
		top: 60px;				
	}
}
