html {
	height: 100%;
}

body {
	font-family: $content-font;
	min-height: 100%;

	&.rpg-background{
		background: url('../img/valley_ruins.jpg');		
		background-size: auto 100%;
		background-position: top center;
		background-repeat: no-repeat;
		background-color: $black;		
		overflow: hidden;
	}

}

.overlay {
	min-width: 100%;
	min-height: 100%;
	background-color: rgba($black, 0.9);		
	position: fixed;
	z-index: 9;
	display: none;

	&.active {
		display: block;
	}
}

a {
	text-decoration: none;
	color: $white;
}

h1 {				
	font-size: 22px;
	font-weight: bold;
}

.btn {
	height: 40px;
	width: 100px;
	background-color: $black;
	color: $white;
	border: none;
	cursor: pointer;
	margin: 10px 0;
	font-size: 15px;

	@include transition-property(background-color);
	@include transition-duration(1s);	

	&.green {
		background-color: $green;

		&:hover {
			background-color: $light-green;
		}
	}
}