$white: #fff;
$black: #000;

$blue: #5368EE;
$light-blue: lighten( $blue, 10% );

$green: #7ABE42;
$light-green: lighten( $green, 10% );

$red: #e80510;

$grey: #c9c9c9;
$dark-grey: #333;

$menu-font: "RPGSystem";
$content-font: "Open Sans";
$button-font: "RPGSystem";
