@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/reset";
@import "susy"; 

@include border-box-sizing;

@include font-face("RPGSystem", font-files("rpgsystem-webfont.ttf"));
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$susy: (
  columns: 12,
  container: 100%,
  gutters: 1/4,
  global-box-sizing: border-box
);

$white: #fff;
$black: #000;
$grey: #c9c9c9;

$blue: #5368EE;
$light-blue: lighten( $blue, 10% );

$green: #7ABE42;
$light-green: lighten( $green, 10% );

$dark-grey: #333;

$background: #000;

$menu-font: "RPGSystem";
$content-font: "Open Sans";

main {
	@include container;
}

body {
	background-color: $background;

	&.grey-bg {
		background-color: $dark-grey;
	}
}

header {
	span: 12 of 12;

	margin-top: 235px;

	.logo {		
		text-align: center;
		margin: gutter()/4;
		img {
			width: 50%;
		}
	}

	nav {
		font-family: $menu-font;	
		color: $grey;
		font-size: 22px;
		margin: gutter()/4 0 gutter();
		text-align: center;

		ul {
			list-style: none;

			li {
				display: inline;
				cursor: pointer;
				margin: gutter()/4;

				@include transition(color 1s);				

				&:hover {					
					color: $black;
				}

				a {
					text-decoration: none;
					color: $grey;
				}
			}
		}
	}
}

section {
	font-family: $content-font;
	color: $grey;
	line-height: 25px;
	width: 100%;
	margin-top: gutter();

	p {
		font-size: 20px;	
	}

	#phaser {
		canvas {
			margin: 0 auto;
		}
	}
}