section {		
	/* font-family: $content-font; */
	color: $black;
	line-height: 25px;	
	text-align: center;
	color: $dark-grey;
	padding: 0 15px;	
	
	h1 {
		text-align: left;
		margin: 15px 0;
		color: $black;
	}

	#phaser {
		canvas {
			margin: 40px auto;
		}
	}

	&.content {
		width: 90%;
		float: none;		
		margin: 0 auto;			
		padding: 20px;	

		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);

		//Site intro content
		div.intro {		
			color: $white;
			padding: 60px 0;

			img {			
				width: 100%;
			}						
		}
	}	
}

