.formbox {
	width: 40%;
	border-radius: 3px;
	position: fixed;
	transform: translate(-50%, -50%);
	top: -400px;
	left: 50%;
  margin: 0 auto;
	z-index: 99;	
	background-color: rgba($blue, 0.8);
	padding: 20px;
	text-align: left;
  color: $white;
  max-height: 80%;
  overflow: auto;

	transition: top 0.6s;

	&__title {
		text-align: left;
		font-size: 22px;
    margin: 0 0 15px 0;
	}

	.btn {
		margin-top: 15px;
	}

	.formbox__group {
		width: 100%;
		display: inline-block;

		&--half {
			width: 48%;
			display: inline-block;
		}
	}

	&__input {
		width: 100%;		
		height: 50px;
		margin: 5px 0;
		padding: 10px;
		font-size: 18px;
		border: none;
		border-radius: 2px;
		transition: background-color 0.5s;

		&[type=radio] {
			width: auto;
			height: auto;
			margin-top: 3px;
			vertical-align: middle;			
		}

		&:hover,
		&:focus {
			background-color: rgba($white, 0.8);
		}
	}

	&__label {
		margin-top: 5px;
		width: 100%;
		display: inline-block;
		font-weight: bold;		
	}

	&.active {
		top: 50%;				
	}

	&__character {
		.character {
			transition: background-color 0.5s;
			width: 25%;			
			padding: 20px;
			cursor: pointer;
			display: inline-block;

			&__wrapper {
				width: 100%;
			}

			&__nickname {
				font-size: 16px;
			}

			&__class {
				font-size: 14px;
			}

			&__info {
				width: 100%;

				.character__stats {
					font-size: 12px;
					line-height: 17px;
					margin: 10px 0;			
					display: inline-block;
				}

				.character__img {
					display: inline-block;
					margin-left: 50px;
				}
			}

			&:hover {
				background-color: rgba($blue, 0.8);
			}
		}
	}

	&__create {		
		.create__info {
			width: 100%;

			.create__stats {							
				font-size: 14px;
				width: 50%;
				display: inline-block;
				
				.stats__title {
					margin-top: 4px;
					font-size: 16px;					
				}

				.stats__label {
					width: 48%;
					display: inline-block;					
				}

				.stats__input {
					width: 30px;					
					text-align: center;
					border: none;
					height: 20px;
					font-weight: bold;
					font-size: 14px;
				}

				.stats__counter {
					margin: 5px 0;
				}

				.stats__btn {
					border: none;
					height: 12px;
					width: 12px;
					color: $white;
					background: none;
					font-size: 13px;				
					outline: none;
					cursor: pointer;

					&--plus:before {
						content: '\2795';
					}

					&--minus:before {
						content: '\2796';
					}
				}
			}

			.create__img {															
				text-align: center;						
				width: 48%;
				display: inline-block;

				img {
					position: relative;
					top: -50px;
				}
			}			
		}

	}

	&__result {
		margin-top: 5px;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	&--big {
		width: 80%;
		max-height: 80%;
	}

	@include smallViewport {		
		width: 100%;
	}
}