<h3>{Nickname}</h3>
<p>{Class}</p>
<div class="gameMenu__stats">
	<h4>Attributes</h4>

	<ul>
	  <li><b>Strength: </b>{Strength}</li>
	  <li><b>Constitution: </b>{Constitution}</li>
	  <li><b>Dexterity: </b>{Dexterity}</li>
	  <li><b>Intelligence: </b>{Intelligence}</li>
	  <li><b>Charisma: </b>{Charisma}</li>
	</ul>     
</div>

<div class="gameMenu__stats">	
	<h4>Status</h4>
	<ul>
		<li><b>HP: </b>{Health}</li>
		<li><b>Mana: </b>{Mana}</li>
		<li><b>Stamina: </b>{Stamina}</li>
		<li><b>Sleep: </b>{Sleep}</li>
		<li><b>Hunger: </b>{Hunger}</li>
	</ul>
</div>