<h3 class="character__name">{Nickname}</h3>
<p class="character__class">{Class}</p>	

<div class="stats__wrapper">
	<div class="stats__bars">
		<div class="bar bar--health">
			<span class="bar__text"><b>HP:</b> {CurrentHealth}/{Health}</span>
			<div class="bar__value" style="width: 85%"></div>
		</div>

		<div class="bar bar--mana">
			<span class="bar__text"><b>Mana:</b> {CurrentMana}/{Mana}</span>
			<div class="bar__value" style="width: 75%"></div>
		</div>
		
		<div class="bar bar--stamina">
			<span class="bar__text"><b>Stamina:</b> {CurrentStamina}/{Stamina}</span>
			<div class="bar__value" style="width: 35%"></div>
		</div>
	</div>
	
	<ul class="attributes__list">
	  <li>
	  	<b>Str:</b> {Strength} ({StrengthXP}% XP)
	  </li>
	  <li>
	  	<b>Con:</b> {Constitution} ({ConstitutionXP}% XP)
	  </li>
	  <li>
	  	<b>Dex:</b> {Dexterity} ({DexterityXP}% XP)
	  </li>
	  <li>
	  	<b>Int:</b> {Intelligence} ({IntelligenceXP}% XP)
	  </li>
	  <li>
	  	<b>Cha:</b> {Charisma} ({CharismaXP}% XP)
		</li>
		<li>
			<b>Sleep:</b> <span>{CurrentSleep}/{Sleep}</span>
		</li>
		<li>
			<b>Hunger:</b> <span>{CurrentHunger}/{Hunger}</span>
		</li>
	</ul>     
</div>