<h3 class="character-status__nickname">{CharacterClass}</h3>
<span class="character-status__date"><strong>Last saved: </strong>{LastSaved}</span>

<div class="character-status__img">
  <img src="img/classes/{ClassImg}.png" alt="">
</div>

<div class="character-status__info">
	<ul class="character-status__stats">
    <li><b>Health: </b>{CurrentHealth}/{Health}</li>
	</ul>
	<ul class="character-status__stats">
		<li><b>Strength: </b>{Strength} | {StrengthXP}/100% XP</li>
		<li><b>Constitution: </b>{Constitution} | {ConstitutionXP}/100% XP</li>
		<li><b>Dexterity: </b>{Dexterity} | {DexterityXP}/100% XP</li>
	</ul>
</div>
